$font-semibold: 'font-sans-semibold';
$font-bold: 'font-sans-bold';
$font-bolder: 'font-sans-bolder';
$font-circular-book: 'font-circular-book';
$font-circular-medium: 'font-circular-medium';

$color-white: #fff;
$color-blue: #3A68B8;