.flex {
    display: flex;
}

.flex_align-center {
    align-items: center;
}

.flex_space-between {
    justify-content: space-between;
}

.flex_center {
    justify-content: center;
}

.flex_column {
    flex-direction: column;
}

.flex_wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center
}

.uppercase {
    text-transform: uppercase;
}